name: Prueba Cron

on:
  schedule:
    - cron: '*/5 * * * *'
      branches:
        - main
  workflow_dispatch:

jobs:
  debug:
    runs-on: ubuntu-latest
    steps:
      - name: Mensaje de prueba
        run: |
          echo "Hola, cron funciona: $(date)"
